.boxShodow {
  box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
}

.bgGrayColor {
  background-color: #E8F4EA;
}

.headerBg {
  height: 3.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: #E8F4EA;
}

.formLabel {
  width: 120px;
  margin-right: 8px;
}

.customBtn {
  width: 136px;
}

.logo {
  width: 60px;
  height: 20px;
  background: url(logo.png) center center no-repeat;
  background-size: contain;
}
